.footer {     
    margin-top: 0;   
    @extend %gradiante;
    height: 15vh;

    .redes{
        .container{
            .social__bar{
                a{  
                    margin-right: 20px;
                    
                }
            }
        }
    }    
    
    .footer div{
        height: 100%;
        
        .footer div p{
            height: 100%;
            
        }
    }   
}

$redes: (
        facebook: #3b5998,
        whatsapp: #075E54,
        instagram: #5851DB,
        twitter: #00acee
    );

@each $redsocial, $colordered in $redes {
    .fa-#($redsocial){
        background-color: $colordered;
    }
    
}

@media (max-width: 576px) {   
    
    .footer{
        height: 15vh;
    }
}
