.body__servicios{
    @extend %gradiante;

    .main__servicios{   
        @extend %gradiante;
        
        .container{

            .galeria__img{
                @mixin tamano($ancho, $alto) {
                    width: $ancho;
                    height: $alto;                    
                }

                .galeria__img-item{                      
                    border-radius: 20px;
                    @include tamanos(100%, 100%)
                }

            }
                
        }
    }
}