.body__servicios{
    background: $color;
    background: linear-gradient(90deg, $color 59%, $secondaryColor 98%);

    .main__servicios{   
        background: $color;
        background: linear-gradient(90deg, $color 59%, secondaryColor 98%);  
        
        .container{

            .galeria__img{

                .galeria__img-item{
                    width: 100%;
                    height: 100%;    
                    border-radius: 20px;
                }
            }
        }
    }
}